{% extends "index.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>About Heimdallr</h1>
    <p>We are Ragnarök Industries and we are developing the Heimdallr smart doorbell. Chelsea Miller is our project manager, with Heidi Mosen, Jamie Sanson, and Grayson Hughes as the project team.
    </p>
    <p> The Heimdallr smart doorbell comprises of a compact, waterproof case housing an Arduino Microcontroller. The case design is as minimal as possible, consisting of just a simple button to lead to short user interactions.
    </p>
    <p> Ragnarok is the Norse end of days. It’s a period of time were the old gods are reborn and as is human civilization. We’re seeing this as a fresh start, a change to something completely different. Here we had the idea of a basic doorbell, and flipped it on its head. What we have now is an idea for something completely new. It’s a mix of security and convenience, and we call it Heimdallr.
    </p>
  </div>
</div>

{% endblock %}
